:root {
    --darkblue-color: #396362;
    --blue-color: #4b8e8d;
    --orange-color: #f6c89f;
    --bright-color: #ffe7d1;
}

html {
    background-color: var(--darkblue-color);
    font-family: 'News Cycle', sans-serif;
    padding: 0;
    margin:0;
    max-width: 2000px;
    min-width: 280px;
}

h1 {
    color: var(--orange-color);
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    text-align: center;
}

#current-date {
    font-size: 1.5rem;
    color: var(--blue-color);
    text-align: center;
    margin: 1rem;
}

/*-----Adding tasks-----*/
input, select {
    background-color: var(--bright-color);
    border-radius: 0.9rem;
    line-height: 1.5rem;
    border: 1px solid var(--darkblue-color);
    padding: 0.5rem;
}

.add-task {
    color: var(--orange-color);
    background-color: var(--blue-color);
    padding: 1rem;
    font-size: 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 95%;
    border-radius: 1.8rem;
    flex-wrap: wrap;
}

.task-text {
    flex: 3;
    margin: 0.5rem;
}

#to-do, #deadline, #importance {
    width: 100%;
}

.task-date {
    flex: 1;
    margin: 0.5rem;
}

.task-imp {
    flex: 1;
    margin: 0.5rem;
}

#importance{
    height:2.8rem;
}

#button {
    flex: 0.5;
    background-color: var(--darkblue-color);
    color: var(--bright-color);
    margin: 0.5rem;
    font-weight: bold;
    border: 3px solid var(--bright-color);
    align-self: flex-end;
}

/*-----Options-----*/
h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: var(--orange-color);
}

.options {
    color: var(--orange-color);
    background-color: var(--darkblue-color);
    border: 3px solid var(--blue-color);
    padding: 1rem;
    font-size: 1rem;
    margin: 3% auto;
    width: 95%;
    border-radius: 1.8rem;
}

.selectors {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.selectors p {
    background-color: var(--blue-color);
    color: var(--orange-color);
    margin: 0.5rem;
    font-weight: bold;
    border: 3px solid var(--orange-color);
    border-radius: 0.9rem;
    padding: 0.5rem;
    line-height: 1.5rem;
    flex: 1;
    width:100%;
    text-align: center;
}

#find {
    border: 3px solid var(--orange-color);
    margin: 3% auto auto auto;
    display: block;
    align-items: center;
    color: var(--darkblue-color);
}

/*-----Responsive Web-----*/
@media all and (max-width: 767px) and (min-width: 576px) {
    .task-text {
        flex: 66.7%;
        margin: 0.5rem;
    }
    
    .task-date {
        flex: 33.3%;
        margin: 0.5rem;
    }
    
    .task-imp {
        flex: 1;
        margin: 0.5rem;
    }
}

@media all and (max-width: 575px) {
    .task-text {
        flex: 100%;
        margin: 0.5rem;
    }
    
    .task-date {
        flex: 100%;
        margin: 0.5rem;
    }
    
    .task-imp {
        flex: 100%;
        margin: 0.5rem;
    }

    #check-deadlines, #imp-sort, #date-sort, #id-sort, #text-sort {
        flex: 30%;
    }
}